.jacob{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__block{
        &_text{
            &-arrow{
             background-color: #118DA8;
             width: 112px;
             height: 112px;
             border-radius: 50%;
             margin-bottom: 20px;
             img{
                width: 38px;
                height: 71px;
                
             }
            }
         }
    }
}