.title{
    font-size: 2.2rem;
    color: #ffff;
    font-weight: 400;
    &__fz-70{
        font-size: 70px;
        span{
            font-weight: 700;
        }
    }
    &__fz-15{
        font-size: 15px;
        span{
            color:  #118DA8;
            font-size: 18px;
        }
    }
    &__fz-65{
        font-size:65px;
    }
    &__fz-22{
        font-size: 22px;
    }
}
    